#root,body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
.app{
  height: 100%;
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./images/city.jpg');
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.card{
  background-color: lightblue;
  width: 45%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  border-radius: 20px;
}
.card:hover{
  box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.353);
}
.Button{
  color: #164ca7;
font-size: 17px;
font-weight: 500;
letter-spacing: 0.7px;
}
.card p{
  text-align: center;
}
  @media only screen and (max-width: 600px) {
    .card{
      background-color: lightblue;
      width: 70%;
      height: 50%;
    }
}